<div id="footer_left">
    <div class='logo'>
        <a href="../index.html"><img src='utils/img/logo.png' alt="logo du jeu"></a>
    </div>
    <p>De tous les envois faits aux armees au cours de la guerre, le vin etait assurement le plus attendu, le plus apprecie du soldat. Pour se procurer du pinard, le poilu bravait les perils, defiait les obus, narguait les gendarmes. Le ravitaillement en vin prenait, a ses yeux, une importance presque egale a celle du ravitaillement en munitions. Le vin a ete pour le combattant le stimulant bienfaisant des forces morales comme des forces physiques. Ainsi a-t-il largement concouru, a sa maniere, a la victoire.</p>
</div>

<div id="footer_right">
    <div id="footer_nav">
        <a href="../introduction.html">Intro</a>
        <a href="../personnages.html">Heros</a>
        <a href="../boss.html">Mechants</a>
        <a href="../objets.html">Objets</a>
        <a href="../sortileges.html">Sorts</a>
    </div>
</div>