<div id='header_menu'>
    <div class='logo'>
        <a href="/index.html"><img src='utils/img/logo.png' alt="logo du jeu"></a>
    </div>

    <div id='navbar'>
        <div id='social_media_nav'>
            <a href="https://mime.univ-lille.fr/formation/master-miashs/" class="fa fa-mortar-board"></a>
            <a href="https://www.linkedin.com/company/sce-lille" class="fa fa-linkedin"></a>
        </div>

        <div id='nav'>
            <a href="/introduction.html" id="lien_intro">Intro</a>
            <a href="/personnages.html" id="lien_perso">Heros</a>
            <a href="/boss.html" id="lien_boss">Mechants</a>
            <a href="/objets.html" id="lien_objets">Objets</a>
            <a href="/sortileges.html" id="lien_sorts">Sorts</a>
        </div>
    </div>
</div>

<div id="mobile_button" onclick="nav_management()">
    <i class="fa fa-bars"></i>
</div>
